/* For setting Ek Mukta Font */
@font-face {
    font-family: Ek Mukta;
    src: url("https://fonts.googleapis.com/css?family=Ek+Mukta");
}

.container {
	background: lightcyan;
	margin: 5px;
	font-family: Ek Mukta;
}

* {
	box-sizing: border-box;
}

.header{overflow: auto;}

#myimage { 
	display: block;
	margin:auto;
	float: center;			
}

/* For full screen or print: */
@media screen and (min-width: 480px) {
	#myimage {float: right;}
}

/* Each section underlined & in uppercase*/
.section {
	resize: both;
	text-align: center;
	background-color: #D5DBDB;
	text-decoration: underline;
	text-transform: uppercase;
	margin: auto;
}

/*Add image as bullets*/
ul {
	list-style-type: none;
	list-style-image: url("http://upload.wikimedia.org/wikipedia/commons/1/19/Icons-mini-icon_attachment.gif");
}

span {
	font-weight: bold;
}
input[type=text] {
	border: 1px solid #D5DBDB;
	border-radius: 5px;
	overflow: auto;
}
